.App {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sort-btn {
    height: 50px;
    width: 200px;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    margin-bottom: 12px;
    cursor: pointer;
}

.sort-btn:focus {
    outline: none;
    background: lightgray;
}